# https://git-scm.com/docs/gitignore
# https://help.github.com/articles/ignoring-files
# Example .gitignore files: https://github.com/github/gitignore
/bower_components/
/node_modules/
/CV/untitled folder/big_buck_bunny_480p_surround-fix.avi
/CV/untitled folder/trailer_1080p.mov
/CV/media/trailer_1080p.mov
/CV/media/big_buck_bunny_480p_surround-fix.avi
