# https://git-scm.com/docs/gitignore
# https://help.github.com/articles/ignoring-files
# Example .gitignore files: https://github.com/github/gitignore
/bower_components/
/node_modules/
/CV/untitled folder/big_buck_bunny_480p_surround-fix.avi
/CV/untitled folder/trailer_1080p.mov
/CV/media/trailer_1080p.mov
/CV/media/big_buck_bunny_480p_surround-fix.avi
/CV/Afbeeldingen/739844_4779295433180_1190722869_o.jpg
/CV/jsPDF-1.2.60/
/CV/css/jquery-3.1.0.min.js
/CV/bootstrap-social-gh-pages/README.md
/CV/bootstrap-social-gh-pages/package.json
/CV/bootstrap-social-gh-pages/index.html
/CV/bootstrap-social-gh-pages/bower.json
/CV/bootstrap-social-gh-pages/bootstrap-social.scss
/CV/bootstrap-social-gh-pages/bootstrap-social.less
/CV/bootstrap-social-gh-pages/.editorconfig
/CV/bootstrap-social-gh-pages/assets/fonts/
/CV/bootstrap-social-gh-pages/assets/img/
/CV/bootstrap-social-gh-pages/assets/js/
/CV/bootstrap-social-gh-pages/assets/img/bootstrap-social.png
/CV/bootstrap-social-gh-pages/assets/js/docs.js
/CV/bootstrap-social-gh-pages/assets/js/jquery.js
/CV/bootstrap-social-gh-pages/assets/fonts/fontawesome-webfont.eot
/CV/bootstrap-social-gh-pages/assets/fonts/fontawesome-webfont.svg
/CV/bootstrap-social-gh-pages/assets/fonts/fontawesome-webfont.ttf
/CV/bootstrap-social-gh-pages/assets/fonts/fontawesome-webfont.woff
/CV/bootstrap-social-gh-pages/assets/fonts/fontawesome-webfont.woff2
/CV/bootstrap-social-gh-pages/assets/fonts/FontAwesome.otf
/CV/bootstrap-social-gh-pages/assets/css/bootstrap.css
/CV/bootstrap-social-gh-pages/assets/css/font-awesome.css
/CV/bootstrap-social-gh-pages/assets/css/docs.css
/CV/bootstrap-social-gh-pages/assets/
/CV/bootstrap-social-gh-pages/assets/css/
/CV/bootstrap-social-gh-pages/
/CV/bootstrap-social-gh-pages/bootstrap-social.css
