/*
@font-face {
        font-family: elfnoir;
        src: url("LELFNOIR.ttf");
        font-weight: bold;
    }
*/

html,
body,
header {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

body {
    font: 18px Helvetica;
/*    background: #2F3339;*/
    background: #F4F9FC;
    margin: 0;
    padding: 0;
    color: black;
}

body > header {
    background-color: #495684;
    display: block;
/*    background-image: url(../Afbeeldingen/739844_4779295433180_1190722869_o.jpg);*/
/*    background-size:auto;*/
    width:100%;
    white-space:nowrap;

}

#leftHeader {
    display:inline-block;
    text-align: left;
    width:80%;
    /*        border: 1px solid #eebb55;*/
    /*        border-radius: 7pt;*/
}

#rightHeader {
    height: 1em;
    display: inline-block;
}

#rightList
{
    list-style-type: none;
    color:white;
}

footer {
    text-align: right;
    display: block;
    /*        margin: 4px;
*/
    /*        padding: 5px;*/
    min-height: 100px;
    /*        border: 1px solid #eebb55;*/
    /*        border-radius: 7pt;*/
}

#main {
    min-height: 800px;
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-flow: row;
    font-size: 80%;
}

#main > article {
    margin: 0px 0px 0px 0px;
    padding: 5px;
    border: 0.1rem solid #046E97;
    /*        border-radius: 7pt;*/
/*    background: #484853;*/
/*    background: #EDEEF3;*/
    background: #FFF;
/*    background: radial-gradient(circle at center, white 0%, #484853 100%);*/
/*    background: linear-gradient(-45deg,#D1A6C1 0%,#FFEFCB 100%);*/
    flex: 3 1 60%;
    order: 2;

}

#main > nav {
    margin: 0px 0px 0px 0px;
    padding: 5px;
    /*        border: 1px solid #8888bb;*/
    /*        border-radius: 7pt;*/
/*    background: #2F3339;*/
    background: #C7CBDB;
/*    background: linear-gradient(-45deg,#FFEFCB 0%,#E4F3C1 100%);*/
        flex: 1 6 20%;
    order: 1;
}

#main > aside {
    margin: 0px 0px 0px 0px;
    padding: 5px;
/*    border: 1px solid #8888bb;*/
/*    border-radius: 7pt;*/
/*    background: #2F3339;*/
    background: #9AA1BC;
/*    background: linear-gradient(-45deg,#D1A6C1 0%,#FFEFCB 100%);*/
    flex: 1 6 20%;
    order: 3;
}

footer {
    background: #9AA1BC;
    color:white;

}


/* Too narrow to support three columns */

@media all and (max-width: 640px) {
    #main,
    #page {
        flex-direction: column;
    }
    #main > article,
    #main > nav,
    #main > aside {
        /* Return them to document order */
        order: 0;
    }
    #main > nav,
    #main > aside,
    header,
    footer {
        min-height: 50px;
        max-height: 50px;
    }
}

h1 {

    font-family: elfnoir , Helvetica, sans-serif;
}

h1,
h2,
h3 {
/*    text-shadow: 2px 2px 5px white;*/
    margin: 0;
    color: white;
    padding: 1.5rem;
}

h3 {
    color: #495684;

}

#BAELogo {
/*    padding: 1;*/
    float: right;
/*    border-style: solid;*/
/*    border: 10px;*/
/*    border-color: green;*/
    box-shadow: 5px 5px 5px 1px black;
    transform: translate(10px , 50px) scale(0.5) rotate(45deg);
/*    transform: matrix3d(1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0, 11.0, 12.0, 13.0, 14.0, 15.0, 16.0) perspective(17px);*/
}

details > summary, section > p, h3 {
    padding: 1rem;
}

article > section > p, details > p {
    padding: 1rem;
    text-align: justify;
}

.main-navigation__button {
    display: block;
    float: left;
    width: 56px;
    height: 44px;
    position: relative;
    padding: 12px 12px;
    overflow: hidden;
    border: 0;
    background: transparent;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    -webkit-filter: drop-shadow(0 1px 0 rgba(0, 0, 0, 0.15), 0 2px 4px rgba(0, 0, 0, 0.25));
    filter: drop-shadow(0 1px 0 rgba(0, 0, 0, 0.15), 0 2px 4px rgba(0, 0, 0, 0.25))
}

.main-navigation__button span {
    display: block;
    width: 100%;
    height: 4px;
    background: #666;
    margin-bottom: 4px;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transition: all 0.15s ease;
    -moz-transition: all 0.15s ease;
    transition: all 0.15s ease
}

.main-navigation__button.active span:nth-child(1) {
    -webkit-transform: translate3d(0, 8px, 0) rotate(45deg);
    -moz-transform: translate3d(0, 8px, 0) rotate(45deg);
    -ms-transform: translate3d(0, 8px, 0) rotate(45deg);
    -o-transform: translate3d(0, 8px, 0) rotate(45deg);
    transform: translate3d(0, 8px, 0) rotate(45deg)
}

.main-navigation__button.active span:nth-child(2) {
    opacity: 0
}

.main-navigation__button.active span:nth-child(3) {
    -webkit-transform: translate3d(0, -8px, 0) rotate(-45deg);
    -moz-transform: translate3d(0, -8px, 0) rotate(-45deg);
    -ms-transform: translate3d(0, -8px, 0) rotate(-45deg);
    -o-transform: translate3d(0, -8px, 0) rotate(-45deg);
    transform: translate3d(0, -8px, 0) rotate(-45deg)
}

.main-navigation ul {
    margin: 0;
    padding: 0;
    list-style: none
}

.main-navigation li {
    border-top: 1px solid #f0f0f0
}

.main-navigation li:first-child {
    border-top: none
}

.main-navigation a {
    display: block;
    color: inherit;
    padding: 0.5rem 1.33333rem;
    text-decoration: none;
    font-weight: inherit
}

.main-navigation a:hover {
    background: #f7f7f7
}

.main-navigation li.current a {
    border-right: 4px solid #495684
}

li > a {
    color:white;
}

nav a {
    color: white;
}

nav a:link {
    color: white;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
}

nav a:visited {
    color: white;
}

nav a:hover {
    color: #2F3339;
}

nav a:active {
    color: darkgreen;
}

.box {
    border-style: solid;
    border-width: 1px;
    display: block;
    width: 100px;
    height: 100px;
    background-color: #0000FF;
    -webkit-transition: width 2s, height 2s, background-color 2s, -webkit-transform 2s;
    transition: width 2s, height 5s, background-color 3s, transform 2s;
}

.box:hover {
    background-color: #9AA1BC;
    width: 500px;
    height: 500px;
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
}


@media only screen and (min-width: 1.66667rem) {
    .main-navigation__button {
        margin-right: 0.66667rem;

    }
}

@media only screen and (min-width: 42.66667rem) {
    .main-navigation__button {
        margin-right: 0;
        width: 80px;
        height: 64px;
        padding: 1.22222rem 1.33333rem
    }
}

@media all
  and (min-device-width: 320px)
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {
    header { line-height: 1.4;
      background-color: black;}

}
